.btn {
    background-color: inherit;
    height: 70px;
    width: 100%;
    font-size: 18px;
    color: white;
    border: none;
    border-top: 1px solid rgba(183,110,119,1);
  }
  
  .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }
  
  .equals-to-btn {
    height: 140px;
  }

  
@media screen and (max-width: 900px) {
  .btn {
    height: calc(100%/5);
  }
  .equals-to-btn {
    height: calc(100%/2.5);
  }
}

@media screen and (min-height: 800px) {
  .btn {
    font-size: 26px;
  }
}